.table-thumbnail {
    width: 96px;
    height: 64px;
    object-fit: cover;
}

.current-project-img {
    width: 100%;
    height: 8rem;
    object-fit: cover;
}

.bg-white-75 {
    background-color: rgba(255, 255, 255, 0.75);
}

.display-huge {
    font-size: 8rem;
}
