.login-wrapper {
    background-size: cover;
    background-position: center;
}

.login-overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.login-card {
    background-color: rgba(15, 15, 15, 0.9);
    border: none;
    width: 100%;
}

.login-logo {
    height: 6rem;
}
