.project-main-background {
    background-color: #000000;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.project-bg-overlay {
    background-color: $color-overlay;
}

.project-card-img {
    width: 100%;
    height: 18rem;
    object-fit: cover;
}

// Carousel navigation
.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    padding: 1.5rem;
    background-size: 50%;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
