.product-main-background {
    background-color: #000000;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.product-bg-overlay {
    background-color: $color-overlay;
}

.product-card-img {
    width: 100%;
    height: 12rem;
    object-fit: contain;
}