@import 'bootstrap/scss/bootstrap';
body {
    overflow-x: hidden;
}

.bg-custom-dark {
    background-color: #0F0F0F !important;
}

.bg-custom-card-dark {
    background-color: #0f0f0fc5 !important;
}

// NAVBAR
.navbar-custom {
    background-color: #0F0F0F;
    transition: padding 0.3s ease;
}

.navbar-logo {
    height: 150px;
    transition: height 0.3s ease;
}

.navbar-custom .nav-link {
    color: #e0bb35;
    font-size: 24px;
    padding: 0 2rem;
    transition: all 0.3s ease;
}

.navbar-custom .nav-link:hover,
.navbar-custom .nav-link:focus {
    color: #efd781;
}

.btn-custom {
    background-color: #e0bb35;
    color: #0F0F0F !important;
    border: none;
    font-size: 18px;
    padding: 0.5rem 1.5rem;
    border-radius: 0.25rem;
    transition: all 0.3s ease;
}

.btn-custom:hover {
    background-color: #efd781;
}

@media (max-width: 1199.98px) {
    .navbar-logo {
        height: 120px;
    }
    .navbar-custom .nav-link {
        font-size: 20px;
        padding: 0 1rem;
    }
    .btn-custom {
        font-size: 16px;
        padding: 0.4rem 1rem;
    }
}

@media (max-width: 991.98px) {
    .navbar-custom {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .navbar-logo {
        height: 90px;
    }
    .navbar-custom .nav-link {
        font-size: 16px;
        padding-top: 0 0.6rem;
    }
    .btn-custom {
        font-size: 14px;
        padding: 0.35rem 0.8rem;
    }
}

// ABOUT
html {
    scroll-behavior: smooth;
}

.main-background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.bg-overlay {
    background-color: rgba(15, 15, 15, 0.7);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.text-gold {
    color: #e0bb35;
}

.custom-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-card:hover {
    transform: scale(1.05);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important; 
}

.custom-card-mouseover {
    transition: background-color 0.3s ease;
}

.custom-card-mouseover:hover {
    background-color: #ededed;
}

// PRODUCT
.product-main-background {
    background-color: #000000;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.product-bg-overlay {
    background-color: #0f0f0f89;
}

.text-gold {
    color: #e0bb35;
}

.product-card-img {
    width: 100%;
    height: 12rem;
    object-fit: contain;
}

//PROJECT
.project-main-background {
    background-color: #000000;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.project-bg-overlay {
    background-color: #0f0f0f89;
}

.text-gold {
    color: #e0bb35;
}

.project-card-img {
    width: 100%;
    height: 18rem;
    object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    padding: 1.5rem;
    background-size: 50%;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.service-main-background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.service-bg-overlay {
    background-color: rgba(15, 15, 15, 0.7);
}

.text-gold {
    color: #e0bb35;
}

.card-translucent {
    background-color: rgba(255, 255, 255, 0.95);
}

.service-item {
    border-left: 4px solid #e0bb35;
    padding-left: 1.5rem;
}

// FOOTER
.site-footer {
    padding: 60px 0px;
    background-color: #0F0F0F;

    @media (max-width: 1100px) {
        padding-left: 30px;
        padding-right: 30px;
    }
    @media (max-width: 650px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.footer-logo {
    height: 120px;

    @media (max-width: 900px) {
        height: 80px;
    }
    @media (max-width: 650px) {
        height: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: white;
    color: #0F0F0F;
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
}

.btn-submit {
    background-color: #ffffff;
    color: #0F0F0F;
    padding: 0.75rem 1.25rem;
    width: 160px;
    transition: background-color 0.2s ease;

    &:hover {
        background-color: #bbbbbb;
        color: #0F0F0F;
    }

    @media (max-width: 650px) {
        width: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.copyright {
    background-color: #0F0F0F;
}

.footer-copyright {
    background-color: #0F0F0F;
    font-size: 16px;
    @media (max-width: 650px) {
        font-size: 12px;
    }
}