@use 'bootstrap/scss/bootstrap';
@import "bootstrap-icons/font/bootstrap-icons.css";

@import "mixins";

@import "base/global";

@import "components/buttons";
@import "components/navbar";
@import "components/footer";
@import "components/forms";
@import "components/cards";

@import "pages/login";
@import "pages/about";
@import "pages/product";
@import "pages/project";
@import "pages/service";
@import "pages/admin";

@import "utils/helpers";
