.custom-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    }
}

.custom-card-mouseover {
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #ededed;
    }
}
